@import 'hover';
body{	font-family: 'Montserrat', sans-serif;	font-weight: 400;padding: 0px;margin: 0px; line-height: 1.5; font-size: 1.1rem; color: #000; position: relative;  }
h1{ font-weight: 300;}
h2{ font-weight: 300;}
h3{ font-weight: 300;}
h4{ font-weight: 300;}
h5{ font-weight: 300;}
img, img:hover,img:focus{outline: none;}
a,a:hover{text-decoration: none;}
.clear{clear: both;}
$main_color : #000;


%listing{list-style: none;margin: 0px; padding: 0px;}
%sitebtn{background:$main_color; color:#fff; font-size: 18px;width: 300px; height: 56px; display: block;font-weight: 500; line-height: 55px; text-align: center;margin: 26px 0 0 0;letter-spacing:5px;
&:hover{color: #fff;}
}
.main-wrapper{overflow: hidden; width: 100%; height: 100%;}
header{position:fixed; top: 0px; left: 0px; min-height:400px; height:100vh; width:117px; padding: 15px 10px 10px 0px; z-index: 10;background-color: #fff;    
	& .navbar{
			ul{margin: 0px;padding: 0 0 0 0px; list-style:none; width: 100%; min-width: 110px;
			
            & li{position: relative; min-height: 85px;width: inherit; text-align: center;
                & img{width:auto; height: 101px; left:-30px; position: absolute;
                    -moz-transform: translate(-152px, 0px);
                    -webkit-transform: translate(-152px, 0px);
                    -o-transform: translate(-152px, 0px);
                    -ms-transform: translate(-152px, 0px);
                    transform: translate(-152px, 0px);

                    -webkit-transition: all 0.9s ease-in-out;
                    -moz-transition: all 0.9s ease-in-out;
                    -ms-transition: all 0.9s ease-in-out;
                    -o-transition: all 0.9s ease-in-out;
                    transition: all 0.9s ease-in-out
                }
&:nth-child(1){background:url('../../minified/images/home-icon.png') no-repeat center center;
    & span{

        -moz-transform: rotate(-90deg) translate(0px, 75px);
        -webkit-transform: rotate(-90deg) translate(0px, 75px);
        -o-transform: rotate(-90deg) translate(0px, 75px);
        -ms-transform: rotate(-90deg) translate(0px, 75px);
        transform: rotate(-90deg) translate(0px, 75px);
    }
}
&:nth-child(2){background:url('../../minified/images/abticon.png') no-repeat center center;
    & span{

        -moz-transform: rotate(-90deg) translate(0px, 75px);
        -webkit-transform: rotate(-90deg) translate(0px, 75px);
        -o-transform: rotate(-90deg) translate(0px, 75px);
        -ms-transform: rotate(-90deg) translate(0px, 75px);
        transform: rotate(-90deg) translate(0px, 75px);
    }
}
&:nth-child(3){background:url('../../minified/images/serv-icon.png') no-repeat center center;
& span{

    -moz-transform: rotate(-90deg) translate(0px, 83px);
    -webkit-transform: rotate(-90deg) translate(0px, 83px);
    -o-transform: rotate(-90deg) translate(0px, 83px);
    -ms-transform: rotate(-90deg) translate(0px, 83px);
    transform: rotate(-90deg) translate(0px, 83px);
}
&:hover span{transform: rotate(-90deg) translate(0px, 100px);
    -webkit-transition: all 0.9s ease-in-out;
    -moz-transition: all 0.9s ease-in-out;
    -ms-transition: all 0.9s ease-in-out;
    -o-transition: all 0.9s ease-in-out;
    transition: all 0.9s ease-in-out
}
}
&:nth-child(4){background:url('../../minified/images/portfolio-icon.png') no-repeat center center;
    & span{

        -moz-transform: rotate(-90deg) translate(0px, 82px);
        -webkit-transform: rotate(-90deg) translate(0px, 82px);
        -o-transform: rotate(-90deg) translate(0px, 82px);
        -ms-transform: rotate(-90deg) translate(0px, 82px);
        transform: rotate(-90deg) translate(0px, 82px);
    }
    &:hover span{transform: rotate(-90deg) translate(0px, 100px);
        -webkit-transition: all 0.9s ease-in-out;
        -moz-transition: all 0.9s ease-in-out;
        -ms-transition: all 0.9s ease-in-out;
        -o-transition: all 0.9s ease-in-out;
        transition: all 0.9s ease-in-out
    }
}
&:nth-child(5){background:url('../../minified/images/news-icon.png') no-repeat center center;

    & span{

        -moz-transform: rotate(-90deg) translate(0px, 75px);
        -webkit-transform: rotate(-90deg) translate(0px, 75px);
        -o-transform: rotate(-90deg) translate(0px, 75px);
        -ms-transform: rotate(-90deg) translate(0px, 75px);
        transform: rotate(-90deg) translate(0px, 75px);
    }
}
&:nth-child(6){background:url('../../minified/images/phne-icon.png') no-repeat center center;
    & span{ text-shadow: 0.1px 0.1px #eee; font-weight:300;

        -moz-transform: rotate(-90deg) translate(0px, 82px);
        -webkit-transform: rotate(-90deg) translate(0px, 82px);
        -o-transform: rotate(-90deg) translate(0px, 82px);
        -ms-transform: rotate(-90deg) translate(0px, 82px);
        transform: rotate(-90deg) translate(0px, 82px);
    }
    &:hover span{transform: rotate(-90deg) translate(0px, 110px);
        -webkit-transition: all 0.9s ease-in-out;
        -moz-transition: all 0.9s ease-in-out;
        -ms-transition: all 0.9s ease-in-out;
        -o-transition: all 0.9s ease-in-out;
        transition: all 0.9s ease-in-out
    }
}

                & a{color: #000; text-transform: capitalize; font-size: 14px;font-weight: 300; display: block;
                    height: 80px; position: relative;transform: translate(0px, 6px); 
                    & span{ position: absolute; display: block; bottom: 0px; right: 0px;top: 0px;
               
                    -webkit-transition: all 0.9s ease-in-out;
                    -moz-transition: all 0.9s ease-in-out;
                    -ms-transition: all 0.9s ease-in-out;
                    -o-transition: all 0.9s ease-in-out;
                    transition: all 0.9s ease-in-out
                }
                }
                &:hover span{transform: rotate(-90deg) translate(0px, 100px);
                    -webkit-transition: all 0.9s ease-in-out;
                    -moz-transition: all 0.9s ease-in-out;
                    -ms-transition: all 0.9s ease-in-out;
                    -o-transition: all 0.9s ease-in-out;
                    transition: all 0.9s ease-in-out
                }

                &:hover img{
                    -moz-transform:none;
-webkit-transform:none;
-o-transform:none;
-ms-transform:none;
transform:none;
-webkit-transition: all 0.9s ease-in-out;
-moz-transition: all 0.9s ease-in-out;
-ms-transition: all 0.9s ease-in-out;
-o-transition: all 0.9s ease-in-out;
transition: all 0.9s ease-in-out
                }
                
            }
           /* & li.active{}*/
			
		}
        } 
        & .logo{margin: 0 0 0 10px;
        & figure{
            & img{margin: 0px auto; display: block;}
        }
        }
        & .navmenu{margin: 0 0 0 0px;
        & .white-color{
            & li a{color: #fff !important;}
        }
        & .black-color{
            & li a{color: #000;}
        }
        }
	
}

.btnwrap{background:$main_color; color:#fff; font-size: 18px;width: 300px; height: 56px; display: block;font-weight: 500; line-height: 55px; text-align: center;margin: 26px 0 0 0;
&:hover{color: #fff;}
}
/**
Fold 1
**/
.fold1{width: 100%;height:100vh; position: relative;  overflow: hidden;
    &-lft{background: url(../../images/fold1-left.jpg) no-repeat; max-height: 800px; background-size: cover;height:100vh;
        & .slide-caption{border-left:1px solid #fff;border-top:1px solid #fff;width: 70%; }
    }
    &-rht{background: url(../../images/fold1-rught.jpg) no-repeat;max-height:800px; background-size: cover;height:100vh;
        & .slide-caption{border-right:1px solid #fff;border-bottom:1px solid #fff; width: 60%;
        &:hover{
            animation-name: borderslide;  animation-duration: 4s;
        }
        }
    }
& .slides-container{min-height: 800px; width: 100%; 
    
& .main-slide{height:100vh; min-height:800px;
& .item{height:100vh; min-height:600px;}
& .slide-caption{ text-align: center; color: #fff;position: absolute; top: 40%; left: 0px; right: 0px;margin: 0px auto;padding:20px;
    & h2{font-size: 55px; font-weight: 200; margin: 0 0 15px 0;
    & span{font-weight: 600;}

    }
    & p{font-size:12px;}
    & a{background:transparent; color:#fff; font-size:14px;width:150px; height: 45px; display: block;font-weight:400; line-height: 45px; text-align: center;padding:0px 0px; border:1px solid #fff;margin:0px auto;letter-spacing:1px;}
}

}
}
& .slide-caption .hvr-bounce-to-top:before{background:#000 !important;}

& .socialtop{ position: absolute; z-index: 99; top:20px; right: 0px; width: 100px; height: 30px;
    & ul{
        @extend %listing;
        & li{display: inline-block; margin: 0 7px 0 0; 
            &:last-child{margin: 0px;}
        & a {color:#fff; font-size: 14px;}
        }
    }
    
}
}

/**
.fold2
**/
.fold2{ width: 100%; min-height: 400px; position: relative; padding: 0px 0 0px; background: #f7f7f7;   
 & figure{margin: 0px;}
 &-lft {display: block;
     & section.abtwrap{
        padding:100px 30px 0 30px; display: block;
     }
& .abtwrap{
    & h2{color:#000; font-size:80px; margin: 0 0 15px 0;font-weight:100;}
    & p{color:#000; font-size: 14px; font-weight: 200; }
    &2{ 
        & img{width:100%; margin:80px 0px 0px 0px;}
        & .exp{border:5px solid #000; padding:24px 24px 30px; width: 225px;  margin: 0px auto;
        & h4{font-size:80px;font-weight: 600;    margin: 0px;}
        & p{font-size:14px;text-transform:capitalize;font-weight:400;margin: 0;}
        }
    }
}
  
 }
& .abt-list{position: absolute; bottom:14%;  padding-left: 60px;
    &1{ background-image:url('../../minified/images/interior.png');background-position: 40px 35px; background-repeat:no-repeat;
    &:hover{background-image:url('../../minified/images/interior-white.png') !important;}
    }
    &2{ background-image:url('../../minified/images/trophy-black.png');background-position: 40px 35px; background-repeat:no-repeat;
        &:hover{background-image:url('../../minified/images/trophy-white.png') !important;}
    }
    &3{ background-image:url('../../minified/images/free-consult-black.png');background-position: 40px 35px; background-repeat:no-repeat;
        &:hover{background-image:url('../../minified/images/free-consult-white.png') !important;}
    }
    & section{padding:30px 15px 30px 104px;  background-color:#fff; cursor: pointer; 
        -webkit-transition: background-color 2s ease-out;
        -moz-transition: background-color 2s ease-out;
        -o-transition: background-color 2s ease-out;
        transition: background-color 2s ease-out;
    & h5{font-size: 22px; font-weight:600;margin: 0px; text-transform:uppercase; letter-spacing: 1px; }
    & p{font-weight: 400; font-size: 14px; color:#626262; margin: 0px;}
    }
    & section:hover{background-color: #000; color:#fff;
    & p{color:#fff;}
    }
}
}
/** 
.fold3
**/
.services-section{ width: 100%; min-height: 600px; position: relative;
 background:url('../../minified/images/serv-backgrnd.png') right bottom no-repeat; background-size: 50%; padding:100px 0 100px 100px;

&-circle{border: 1px solid #e4e4e4; min-height: 500px; border-radius: 50%;width: 100%;padding: 210px 50px;height: 100vh;}
& h1{text-align: center;font-size: 4.2rem; font-weight:100; margin:0px 0 25px;}
& figure{margin: 0px;
& img{margin: 0px auto; display: block; width:90%;}
}
&-listing{ position: absolute; min-height: 400px; width:100%; margin: 0px auto;     top: 0; left: 0px; height: 100vh;
    & ul{ width: 100%; height:100%; position: relative;
        @extend %listing;
        & li{ position: absolute; list-style:none;  min-width: 20px;min-height: 20px; cursor: pointer;
            &:nth-child(1){top:-9px;left:0px; right: 0px; margin: 0px auto; width: 20px; height: 20px;
            & p{top: -47px;left: -48px;}
            -webkit-transition: all 1s ease-in-out;
-moz-transition: all 1s ease-in-out;
-ms-transition: all 1s ease-in-out;
-o-transition: all 1s ease-in-out;
transition: all 1s ease-in-out;
            }
            &:nth-child(2){top:10%;left: 0px; right:-60%; margin: 0px auto; width: 20px; height: 20px;
                & p{top: -2px; left: 56px;}
             }
            &:nth-child(3){top:40%;left: 0px; right:-95%; margin: 0px auto; width: 20px; height: 20px;  
                & p{top: -2px; left: 56px;}
            }
            &:nth-child(4){top:auto;bottom:16%;left: 0px; right: -73%; margin: 0px auto; width: 20px; height: 20px; 
                & p{top: -2px; left: 56px;}
            }
            &:nth-child(5){top:auto;bottom:-1%; left: 0px; right:0%; margin: 0px auto; width: 20px; height: 20px;
                & p{top: 40px; left: -50px;}
            }
            &:nth-child(6){top:auto;bottom:16%;left: -73%; right:0%; margin: 0px auto; width: 20px; height: 20px;
                & p{top:0px; left: -174px;}
            }
            &:nth-child(7){top:40%;bottom:auto; left: 0px; right:95%; margin: 0px auto; width: 20px; height: 20px;
                & p{top: 0px; left: -174px;}
            }
            &:nth-child(8){top:10%;left: 0px; right:60%; margin: 0px auto; width: 20px; height: 20px; 
                & p{top:0px; left:-174px;}
            }
            & span{width: 20px; height: 20px; display: block; background: #000;border-radius: 22px;}
            & img{position: absolute;top: -20px; left: -18px;  opacity: 0; -moz-transform: scale(0);
                -webkit-transform: scale(0);
                -o-transform: scale(0);
                -ms-transform: scale(0);
                transform: scale(0);
                -webkit-transition: all 0.9s ease-in-out;
                -moz-transition: all 0.9s ease-in-out;
                -ms-transition: all 0.9s ease-in-out;
                -o-transition: all 0.9s ease-in-out;
                transition: all 0.9s ease-in-out; 
            }
            & p{margin: 0px;position:absolute; width:150px;display:none;  
                -webkit-transition: all 1.5s ease-in-out;
                -moz-transition: all 1.5s ease-in-out;
                -ms-transition: all 1.5s ease-in-out;
                -o-transition: all 1.5s ease-in-out;
                transition: all 1.5s ease-in-out;
            }
            &:hover img, &:hover p{display:block; opacity: 1;
                -moz-transform: scale(1);
-webkit-transform: scale(1);
-o-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1);
                -webkit-transition: all 1s ease-in-out;
                -moz-transition: all 1s ease-in-out;
                -ms-transition: all 1s ease-in-out;
                -o-transition: all 1s ease-in-out;
                transition: all 1s ease-in-out;
            }
        }
    }
}
}
/***********portfolio-container*********/
.portfolio-container{width: 100%; padding:0px 0 0px 100px; min-height: 300px; position: relative;}
/* ---- Portfolio .grid-item ---- */
/* clear fix */
.grid:after { content: ''; display: block; clear: both;  }
.grid-item {box-sizing:border-box;margin-bottom: 0px;background: #fff;position: relative;min-height: 300px; overflow: hidden;float: left; }
.grid-item img{width:100%;min-height: 300px;}
.filter-button-group { margin:10px auto 25px; overflow:hidden;width:450px; height: 450px;padding:55px 0px 0px 220px; background:#fff;position: absolute; right: 0px; bottom: -25px; clip-path:circle(69% at 100% 69%);z-index:99;}
.filter-button-group button {background: transparent;color: #000;padding:0px; border:0;text-transform: capitalize; font-weight: 400; font-size:14px; display: block;float: right;  text-align: right; width: 160px;margin-bottom: 20px; outline: none; cursor: pointer;
& span{padding: 5px 10px 5px 10px;}
}

.filter-button-group button:hover span{ background:#000; color:#fff;}
.grid-item:hover .img-overlay-portfolio{cursor: pointer;
    -moz-transform: translateY(1px);
    -webkit-transform: translateY(1px);
    -o-transform: translateY(1px);
    -ms-transform: translateY(1px);
    transform: translateY(1px);
    -webkit-transition: all 1s ease-in-out;
-moz-transition: all 1s ease-in-out;
-ms-transition: all 1s ease-in-out;
-o-transition: all 1s ease-in-out;
transition: all 1s ease-in-out;
}
.img-overlay-portfolio{position: absolute;background:#000; width: 100%; height:50px; z-index: 1; text-align: center;padding: 10px 0px;color:#fff;display: block;bottom:0px;
    -moz-transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -o-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: all 1s ease-in-out;
-moz-transition: all 1s ease-in-out;
-ms-transition: all 1s ease-in-out;
-o-transition: all 1s ease-in-out;
transition: all 1s ease-in-out;
}
.news-container{width: 100%;min-height: 400px;background-color: #f7f7f7; padding:100px 0px;
& .news-lft{ display: flex;
    & figure{margin: 0px;}
}
.news-container-text{ font-size: 14px;font-weight: 300;
    & h3{font-size:25px; font-weight:300; letter-spacing:2px;position: relative; margin:0 0 30px 0;
    &:after{display: block;content: ""; width:20px; height: 5px; background: #000; left:0px; bottom:-10px;position: relative;}
    }

    & p{font-weight: 300;    text-shadow: 0.1px 0.1px;}
    a.readmore, a{background:transparent; color:#000; font-size:14px;width:150px; height: 45px; display: block;font-weight:400; line-height: 45px; text-align: center;padding:0px 0px; border:1px solid #000;margin:5px 0px;letter-spacing:1px;}

    & figure{ 
        & img{margin: 0px auto;display: block; width: 100%;}
    }
}
}
.contact-container{
    width:100%; min-height: 400px; position: relative;   padding:50px 0px 0px;
	&:after{content: ""; display: block; background:url(../../minified/images/get-touch-bckgrnd.jpg) right bottom no-repeat;  background-size:contain; position: absolute; bottom: 0px; right:0px; width: 45%;
        height: 100%;
        z-index: -1;}
	
	& .get-touch{clip-path: circle(51.4% at 50% 68%); background:#000000d1 ;  width:100%; min-height: 300px; padding:136px 160px 15px; 
		& h2{font-weight:100; font-size:55px; letter-spacing: 1.5px;color:#fff;margin: 20px 0 0;}
		&-form{
            & input{border-top:none; border-left:0px; border-right:0px; border-bottom:1px solid #fff; width: 100%;padding: 15px 10px; display:block;  font-size: 14px; background: transparent; margin:0 0 10px 0px; outline: none; color:#fff; margin: 0 0 15px 0;
                &::placeholder{color:#fff;}
			}
            & textarea{border-top:none; border-left:0px; border-right:0px; border-bottom:1px solid #fff; width: 100%;padding: 15px 10px; display:block;  font-size: 14px; background: transparent; margin:0 0 10px 0px;outline: none;color:#fff; height: 100px; max-height:100px; max-width: 100%;margin: 0 0 15px 0;
                &::placeholder{color:#fff;}
            }
            & button{border:1px solid #fff; background: transparent; color:#fff; outline: none; width: 140px; height:40px; font-weight: 100; font-size: 14px;cursor: pointer;margin: 5px 0 5px 0;}
		}
		
	}
}
/**
Responsive
***/
@media (min-width:100px) and (max-width:900px){
    header{background-color: transparent;}
    .navmenu{display: none;}
    .fold2-lft section.abtwrap{padding: 30px 30px 0 30px;
    & h2{font-size: 3.5rem;}
    }
    .fold2-lft .abtwrap2 .exp{margin: 26px auto;}
    .services-section{padding:0px;
        & h1{font-size: 3.5rem;}
    &-circle{height: 100%; padding: 10px 0px; border:none;
    }
    &-listing{position: relative;margin: 55px auto;
    & ul{    align-items: center;
        align-content: center;
    & li{    margin: 0px;position: relative;}
    }
    }
    }
    .portfolio-container{padding: 0px;}
    .news-container{    padding:50px 15px;
        &-text{ margin: 20px 0;}
        &-two{
            & figure{display: block; width: 100%;margin:0px auto;
            & img{display: block; margin:0px auto;}
            }


        }
    }
    .contact-container{
        & .col-md-9{padding: 0px;}
        & .get-touch{clip-path: none !important;    padding: 25px 18px 15px;
        & h2{font-size: 2.4rem;}
        }
    }
}

/* ---- stats.js ---- */

.count-particles{
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: 2.8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-weight: bold;
  }
  
  .js-count-particles{
    font-size: 1.1em;
  }
  
  #stats,
  .count-particles{
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
  }
  
  #stats{
    border-radius: 3px 3px 0 0;
    overflow: hidden;
  }
  
  .count-particles{
    border-radius: 0 0 3px 3px;
  }
  
  
  /* ---- particles.js container ---- */
  
  #particles-js{
    width: 100%;
	height:100vh;
    background-color:transparent;
    background-size: cover;
    background-position: 50% 50%;
	      position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
    top:0px;
  }
  